<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">ToDo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">What We Learn</a>
          </li>
          
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ToDo
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'create_todo' %}">Create ToDo</a></li>
              <li><a class="dropdown-item" href="{% url 'todo_list' %}">List ToDo</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Loading..</a></li>
            </ul>
          </li>
          {% endif %}

          
          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'register' %}" class="nav-link">Join Us</a>
          </li>
          {% endif %}
            
          
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
          </li>
          {% endif %}
            
        </ul>
        <form class="d-flex" action="/todo_list/" role="search" method="get">
          <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>